@model IEnumerable<Payments_Net462.Models.Payment>

@{
	ViewBag.Title = "Index";
	// string addButtonText = $"({ViewBag.mono2})";
}

<table class="table">
	<thead>
		<tr>
			<th>
				@ViewBag.alfa
			</th>
			<th>
				<span id="sum-prv"> @ViewBag.prima </span>
			</th>
			<th>
				<span id="sum-curr"> @ViewBag.rest </span>
			</th>
			<th>
				<span id="sum-mono"> @ViewBag.mono </span>
			</th>
			<th class="text-left">
				@Html.ActionLink("(+)", "Create", null, new { id = "add-button" })
			</th>
		</tr>
	</thead>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.PayDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Category.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Amount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.ID })
			</td>
		</tr>
	}

</table>
