@model IEnumerable<Payments_Net462.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<div class="my-table">

    <div class="row table-th">

        <div class="col-2">
            @ViewBag.alfa
        </div>
        <div class="col-2">
            @ViewBag.prima
        </div>
        <div class="col-2">
            @ViewBag.rest
        </div>
        <div class="col-2">
            @ViewBag.mono
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
            @Html.ActionLink("(+)", "Create", null, new { id = "add-button" })
        </div>
    </div>


    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-1">
                @Html.DisplayFor(modelItem => item.PayDate)
            </div>
            <div class="col-1 categor">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </div>
            <div class="col-2 text-right">
                @Html.DisplayFor(modelItem => item.Amount)
            </div>
            <div class="col-6 text-left">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="col-1">
                @Html.ActionLink("©", "Edit", new { id = item.ID })
            </div>
        </div>
    }

</div>